footer {
    color: $clr5;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .social{
        display: flex;
        align-items: center;
        justify-content: center;

     path:hover{
        color:$clr4;
     }   
    }

    a {
        margin-right: 20px;
        .MuiSvgIcon-root{
            font-size: rem(30px);
        }
    }

}

@media(max-width:760px){
    footer{
        justify-content: center;
    }
}