.protfolio{
    margin: 30px 0;
    text-align: center;
    ul{
        margin-top: 30px;
        display: grid;
        grid-gap:20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        li{
            transition: .5s;
            
            &:hover{
                img,h5,p{
                    opacity: 0;
                }
                
                background-color: $clr5;
                background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Plus_symbol.svg/1200px-Plus_symbol.svg.png");
                background-repeat:no-repeat;
                background-size: cover;
                background-position:center ;
            }
        }
    }
}

@media(max-width:500px){
    .protfolio{
        h1{
            font-size: 42px;
        }
    }
}