.specialties {
    background-color: $clr5;
    text-align: center;

    .main-list {
        align-items: start;
        justify-content: left;

        .main-titles {
            cursor: pointer;
            padding: 120px 0;
            background-color: $clr5;
            transition: width 1s;
            width: 25%;
            height: 1013.64px;
            box-shadow: inset 0px 0px 12px -10px #000000;

            h2 {
                transform: rotate(-90deg);
            }
            
            ul {
                height: 100%;
                
                opacity: 0;
                
                li {
                    width: 0;
                }
            }
            
            &.choosen {
                background-color: #fff;
                width: 50%;
                height: 1013.64px;
                ;
                transition: width 1s;
                
                h2 {
                    margin-bottom: 70px;
                    transform: rotate(0deg);
                    transition: transform 1s;
                }

                ul {
                    transition: opacity 1s;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    li{
                        transition: width 1s;
                        width: 100px;
                    }
                }
            }
        }

    }
}


@media(max-width:500px) {
    .specialties {
        .main-list {
            .main-titles {

                h2 {
                    font-size: 20px;
                }

                ul {

                    li {

                        font-size: 50px;
                    }
                }


            }

        }
    }
}