// Setup
@import "setup/variables.scss";
@import "setup/functions.scss";
@import "setup/mixins.scss";
@import "setup/typography.scss";

// Basics
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
@import "basics/links.scss";
@import "basics/buttons.scss";

// Components
@import "components/navbar.scss";
@import "components/projectPreview.scss";
@import "components/specialties.scss";
@import "components/about.scss";
@import "components/footer.scss";
@import "components/protfolio.scss";

// views
@import "views/home.scss";
@import "views/projectDetails.scss";

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 120px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $clr2;
    border-radius: 2px;
}
::-webkit-scrollbar-button {
    background: $clr2;
    height: 5px;
}

